body{
    margin: 0;
    font-family: Roboto, sans-serif;
}
h4{
    color: #fff;
    padding-left: 100px;
}
a{
    text-decoration: none;
    color: #fff
}
 ul {
    list-style-type: none;
    flex-wrap: nowrap;
    display: flex;
    gap: 60px;
    margin-left: auto;
    padding-right: 100px;
  } 
.header{
    background-color: rgb(18, 18, 39);
    display: flex;
}
.conteiner{
    background-color: rgb(18, 18, 39);
    height: 300px;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    align-items: center;
}
.box{
    width: 400px;
    height: 150px;
    color: #fff;
}
.tema{
    font-size: 35px;
    font-weight: bolder;
}
.box-two{
    background-color: #c9c9c9;
    color: #fff;
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background-color: blue;
    color: #fff;
}
h1{
    font-weight: bolder;
    display: flex;
    justify-content: center;
}
.conteiner-two{
    height: 160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 30px;
}
.kvadrat{
    border: 3px solid rgb(33, 128, 192);
    width: 150px;
    height: 150px;
    border-radius: 15px;
}
.conteiner-three{
    height: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.linucs{
    width: 165px;
    height: 70px;
}
.conteiner-four{
    background-color: #c9c9c9;
    height: 300px;
    font-size: 25px;
    font-weight: 10;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-three{
    width: 760px;
    height: 200px;
    margin-top: 120px;
}
.conteiner-five{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box-four{
    background-color: blue;
    color: #fff;
    width: 800px;
    height: 100px;
    border-radius: 10px;
    padding-left: 120px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.text{
    font-size: 20px;
    font-weight: 700px;
    padding-top: 25px;
}
.button{
    margin-left: 120px;
    width: 100px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 6px;
}
.end{
    background-color: rgb(18, 18, 39);
    height: 80px;
}
button{
    cursor: progress;
}